[Unit]
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /home/pi/sauron/shutdown.py
WorkingDirectory=/home/pi/sauron

[Install]
WantedBy=default.target
